.card {
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px;
    border-collapse: collapse;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.4) 0 0 10px;
}
button{
    width: 100%;
    outline: #fff;
    height: 35px;
    margin-bottom:auto;
}

.p1{
    text-align: center;
}
.p2{
    margin-top: 10px;
}